<ion-view style="background-color: rgb(227, 26, 42);" id="page10" title="Cadastrar">
  <ion-content class="has-header" padding="true">
    <form class="list" id="cadastrar-form6">
      <ion-list id="cadastrar-list8">
        <label id="cadastrar-input17" class="item item-input">
          <span class="input-label">Nome</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input18" class="item item-input">
          <span class="input-label">Sobrenome</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input19" class="item item-input">
          <span class="input-label">Email</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input20" class="item item-input">
          <span class="input-label">Endereço</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input21" class="item item-input">
          <span class="input-label">Bairro</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input22" class="item item-input">
          <span class="input-label">Complemento</span>
          <input placeholder="" type="text">
        </label>
        <label id="cadastrar-input23" class="item item-input">
          <span class="input-label">Telefone</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <a class="button button-balanced  button-block" id="cadastrar-button10" ui-sref="login">Salvar</a>
    </form>
  </ion-content>
</ion-view>