<ion-view title="Pedido Finalizado" id="finalizado" style="background-color: rgb(227, 26, 42);">
  <ion-content padding="true" class="has-header">
    <h2 id="Finalizado-heading10" style="color: rgb(255, 255, 255);">Pedido Finalizado com Sucesso</h2>
    </br>
    <div style="margin: 0px;  text-align: center;">
	  <img src= "img/pizza.jpg">
    </div>
  
	<h2 id="Finalizado-heading10" style="color: rgb(255, 255, 255);">Seu pedido está sendo preparado e chegará em instantes</h2>
    <h1 id="Finalizado-heading11" style="color: rgb(255, 255, 255);">Bom apetite !!!</h1>	
	<h1 id="pedidoFinalizado-heading10" style="color: rgb(255, 255, 255);">Volte Sempre!<h1>
	
  </ion-content>
</ion-view>
