<ion-view style="background-color: rgb(227, 26, 42);" id="page12" title="Forma de Pagamento">
<ion-content class="has-header" padding="true">
    </br>
	</br>
	</br>
     <div style="margin: 0px; text-align: center;">
      <img src= "img/pagamento.jpg"> 
    </div>
	</br>
    <h3 style="color: rgb(255, 255, 255);" id="menu-heading1">Selecione a forma de pagamento: </h2>
	<ion-radio ng-click="inserirPagamento('Dinheiro')">
	 Dinheiro
	</ion-radio>
	<ion-radio ng-click="inserirPagamento('Cartão')">
	 Cartão
	</ion-radio>
	</br>
</ion-content>
</ion-view>
