<ion-view style="background-color: rgb(227, 26, 42);" id="page6" title="Login">
  <ion-content class="has-header" scroll="false" padding="true">
  
	</br>
	<div style="margin: 0px; text-align: center;">
	</div>
    <div style="margin: 0px; text-align: center;">
      <img src= "img/logo.jpg"> 
    </div>
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 32px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
	  </br>
      <a class="button button-balanced  button-block" id="login-button1" ui-sref="tabsController.pizzas">Entrar</a>
      <a class="button button-light  button-block button-clear" id="login-button2" ui-sref="cadastrar">Cadastrar</a>
    </form>



  </ion-content>
</ion-view>
