<ion-view style="background-color: rgb(227, 26, 42);" id="page9" title="Meu Cadastro">
  <ion-content class="has-header" padding="true">
    <form class="list" id="meuCadastro-form5">
      <ion-list id="meuCadastro-list7">
        <label id="meuCadastro-input10" class="item item-input">
          <span class="input-label">Nome</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input11" class="item item-input">
          <span class="input-label">Sobrenome</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input12" class="item item-input">
          <span class="input-label">Email</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input13" class="item item-input">
          <span class="input-label">Endereço</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input15" class="item item-input">
          <span class="input-label">Bairro</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input16" class="item item-input">
          <span class="input-label">Complemento</span>
          <input placeholder="" type="text">
        </label>
        <label id="meuCadastro-input14" class="item item-input">
          <span class="input-label">Telefone</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <button class="button button-stable  button-block" id="meuCadastro-button8">Editar</button>
      <a class="button button-stable  button-block" id="meuCadastro-button9" ui-sref="tabsController.pizzas">Salvar</a>
    </form>
  </ion-content>
</ion-view>