<ion-view style="background-color: rgb(227, 26, 42);" id="page3" title="Meu Pedido">
<ion-content class="has-header" padding="true">

    <ion-list id="confirmarCompra-list4">
      <ion-item style="" id="confirmarCompra-list-item19">4 Queijos</ion-item>
      <ion-item style="" id="confirmarCompra-list-item23">Brotinho</ion-item>
      <ion-item style="" id="confirmarCompra-list-item24">Borda Rechada - Catupiry</ion-item>
      <ion-item style="" id="confirmarCompra-list-item25">Rua do Comercio, 111</ion-item>
      <ion-item style="" id="confirmarCompra-list-item26">Centro</ion-item>
      <ion-item style="" id="confirmarCompra-list-item27">Cartão de Crédito</ion-item>
      <ion-item style="" id="confirmarCompra-list-item28">Total R$ 35,00</ion-item>
    </ion-list>
    <a class="button button-balanced  button-block" id="confirmarCompra-button15" ui-sref="pedidoFinalizado">Finalizar Pedido</a>
    <a class="button button-balanced  button-block" id="confirmarCompra-button15" ui-sref="menu">Cancelar Pedido</a>

</ion-content>
</ion-view>
