<ion-view style="" id="page1">
  <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top">
    <ion-tab id="tabsController-tab1" title="Pizzas" icon="ion-pizza" href="#/page1/pizzas">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab id="tabsController-tab4" title="Tamanho" icon="ion-pizza" href="#/page1/tamanho">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab id="tabsController-tab5" title="Pagamento" icon="ion-pizza" href="#/page1/pagamento">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab id="tabsController-tab2" title="Meu Pedido" icon="ion-ios-cart" href="#/page1/pedido">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>