<ion-view style="background-color: rgb(227, 26, 42);" id="page11" title="Tamanho">
<ion-content class="has-header" scroll="false" padding="true">
    <div id="tamanho-container3">
      <h3 style="color: rgb(255, 255, 255);" id="tamanho-heading4">Selecione o tamanho</h3>
    </div>
    <form class="list" id="tamanho-form5">
	<ion-radio ng-click="inserirTamanho('P')">
	 Brotinho
	</ion-radio>
	<ion-radio ng-click="inserirTamanho('M')">
	 Média
	</ion-radio>
	<ion-radio ng-click="inserirTamanho('G')">
      Grande
	 </ion-radio>
    </form>
    <h3 style="color: rgb(255, 255, 255);" id="tamanho-heading6">Borda Recheada</h3>
    <form class="list" id="tamanho-form9">
	  <ion-radio>
	 Catupiry
	</ion-radio>
    </form>
 

</ion-content>
</ion-view>
